div.container{
    
	top:10px;
	height:500px;
	right:-800px;
	
	width:600px;
	
	position: relative;
	

}


div.btn-sm37{

font-family:arial;
	font-size:14px;
	text-transform:uppercase;
	font-weight:700;
	border:none;
	padding:10px;
	cursor:pointer;
	display:inline-block;
	text-decoration:none;
	width:150px;
	
	right:-700px;
	position:relative;
	


}


div.button{

    top:-100px;
	height:100px;
	right:600px;
	width:800px;


}