div.container1{
    
	top:10px;
	left:10px;
	height:500px;
	right:-100px;
	width:580px;
	background-color:red;
	position: relative;
}


div.container2{

    top:-510px;
	left:620px;
	height:500px;
	right:-800px;
	width:580px;
	background-color:blue;
	position: relative;
	
	
}


div.container3{

    top:-1030px;
	left:1500x;
	height:505px;
	right:-1220px;
	width:580px;
    background-color:green;
    position: relative; 
}